h1{
    color: rgb(18, 17, 20);
    background-color: rgb(14, 185, 197);
    font-style: inherit;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;


}

*{
    color: rgb(46, 21, 136);
    background-color: rgb(233, 197, 173);
}
img{
    height: 250px
    width: 250px;
    border-radius: 5px;
    padding: 10;
    margin-top: 100px;
    margin-left: 75px;
}